.static{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.items{
    display: flex;
    width: 240px;
    height: 72px;
    border: 2px solid #e5e5e5;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.items i{
    color: #62ab00;
    font-size: 32px;
}
.pct{
    display: flex;
    gap: 30px;
        justify-content: center;
        margin-top: 30px;
    
}
.pct div img{
    width:510px ;
    height:140px ;
}
.pct div img:hover{
    opacity: 0.8;
    transition: 0.8s;
}