.children{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.cimg1{
    width:700px ;
    height:245px ;
}
.cimg2{
    width: 320px ;
    height:245px ;
}
.chib:hover{
    background-color: red;
    color:white;
}
.chib{
    color: red;
}
.chibb{
    color: #62ab00;
}
.chibb:hover{
    background-color: #62ab00;
    color: white;
}


.img_Chi:hover{
    opacity: 0.7;
    transition: 0.8s;
}
.cards2{
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
}
h3::after{
    border: 1px solid;
    border-color: #62ab00;
}