*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
display: block;
background-color: white;
}
.home__header__1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.5%;
    margin-right: 60px;
    
}
.home__header{
    padding: 25px;
    margin-left: 30px;
    margin-top: 50px;
}
.home__header__1__img{
    height: 30px;
}
.home__header__1__div1{
    display: flex;
    gap: 5px;
}
.home__header__1__div1{
font-size: 13px;


}

.home__header__1__div1 i{
    font-size: 25px;
    margin-top: 2px;
    margin-right: 5px;
}
.home__header__1__pages{
    display: flex;
    gap: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:13px ;
    color: rgb(104, 104, 104);
}
.home__header__1__pages i{
    font-size: 10px;
    color: black;
}
.home__header__2__search{
    gap: 10px;
}
.inp{
    width: 250px;
    height: 40px;
}
.btn{
    height: 40px;
    background-color: #82b440;
    color: white;
}
.home__header__2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.7%;
    margin-top: 25px;
    margin-right: 69px;

}
.abc p{
    font-size: 14px;
}
.home__header__2__drop{
    display: flex;
    border: 1px solid gray;
    height: 40px;
    width: 200px;
    gap: 9px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.home__header__2__shop{
    display: flex;
    gap: 16px;
    
}
.home__header__2__shop i{
    font-size: 20px;
}

.aff{
    margin-top: 10px;
    
    
}